<footer class="footer">
  <h5>@Josemiranda989</h5>

  <a href="mailto:josemirand989@gmail.com">
    <i class="fa-regular fa-envelope"></i>
  </a>

  <a href="https://www.linkedin.com/in/josemiranda989" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
  </a>

  <a href="https://www.github.com/josemiranda989" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>

  <a href="https://wa.me/+5493816563940/?text=Hola me interesa tu página web"  target="_blank"> 
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</footer>
