<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head", {title:"Credit Card Mask",
  style:"credit-card"}) %>
  <body>
    <%- include ("./partials/header") %>

    <div id="app">
      <div class="card">
        <div class="holder">Jose M. Miranda</div>
        <input type="text" id="inputCard" />
        <input type="text" id="inputDate" />
        <input type="text" id="inputCVV" />
      </div>
    </div>

    <%- include ("./partials/footer") %>

    <script src="/js/credit-card.js"></script>
  </body>
</html>
