<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>10 Proyectos JS</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>

    <%- include ("./partials/header") %> 

    <div class="proyects">
      <div class="proyect">
        <a href="/pomodoro">
          <p>Pomodoro</p>
          <img src="/images/pomodoro.png" alt="credit-card" />
        </a>
      </div>

      <div class="proyect">
        <a href="/countdown">
          <p>Countdown</p>
          <img src="/images/pomodoro.png" alt="credit-card" />
        </a>
      </div>
      <div class="proyect">
        <a href="/credit-card">
          <p>Credit Card Mask</p>
          <img src="/images/credit-card.png" alt="credit-card" />
        </a>
      </div>
    </div>

    <%- include ("./partials/footer") %> 
  </body>
</html>
