<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head", {title:"10 Proyectos JS", style:"index"}) %>
  <body>
    <%- include ("./partials/header") %>

    <div class="proyects">
      <div class="proyect">
        <a href="/pomodoro">
          <p>Pomodoro</p>
          <img src="/images/pomodoro.png" alt="Pomodoro" />
        </a>
      </div>

      <div class="proyect">
        <a href="/countdown">
          <p>Countdown</p>
          <img src="/images/pomodoro.png" alt="Countdown" />
        </a>
      </div>
      <div class="proyect">
        <a href="/credit-card">
          <p>Credit Card Mask</p>
          <img src="/images/credit-card.png" alt="Credit-card" />
        </a>
      </div>

      <div class="proyect">
        <a href="/rating">
          <p>Rating</p>
          <img src="/images/credit-card.png" alt="Rating" />
        </a>
      </div>
    </div>

    <%- include ("./partials/footer") %>
  </body>
</html>
